.see-more {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.see-more a {
  box-sizing: border-box;
  color: orangered;
  margin: 20px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.competitions__list {
  display: grid;
  grid-template-areas: "item";
  list-style: none;

}@media (min-width: 720px){
  .competitions__list {
    grid-template-areas: "item item"
  }
}
@media (min-width: 992px){
  .competitions__list {
    grid-template-areas: "item item item"
  }
}
@media (min-width: 992px){
  .competitions__list {
    grid-template-areas: "item item item"
  }
}
.competitions__item {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  grid-area: item;
}
.competitions__item a {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
}
img {
  width: 300px;
}