<div class="hero">
  <header class="header">
    <h1 class="header__title">
      {{ title }}
    </h1>
  </header>
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <ul class="footer__list">
    <li class="footer__item">
      <a href="https://www.facebook.com/ronan.viana.1" target="_blank">Facebook</a>
    </li>
    <li class="footer__item">
      <a href="https://www.linkedin.com/in/ronan-viana-955255114/" target="_blank">Linkedin</a>
    </li>
    <li class="footer__item">
      <a href="https://github.com/rssviana" target="_blank">Github</a>
    </li>
  </ul>
  <p class="footer__text">Applicação feita apenas para avaliação de disciplica Desenvolvimento mobile do curso de Ciência da Computação da faculdade
    Unisuam.
  </p>
</footer>