<div class="hero">
  <header class="header">
    <h1 class="header__title">
      {{ title }}
    </h1>
  </header>
  <div class="competitions">
    <ul class="competitions__list">
      <li class="competitions__item" *ngFor="let competition of competitions">
        <a href="competition/{{competition.id}}">
          <img class="competitions__image" src="../assets/images/campeonato.png" alt="">
          <h2 class="competitions__title">{{ competition.caption }}</h2>
          <button class="competitions__button">Veja +</button>
        </a>
      </li>
    </ul>
  </div>
</div>
<footer class="footer">
  <ul class="footer__list">
    <li class="footer__item">
      <a href="#">Facebook</a>
    </li>
    <li class="footer__item">
      <a href="#">Linkedin</a>
    </li>
    <li class="footer__item">
      <a href="#">Github</a>
    </li>
  </ul>
  <p class="footer__text">Applicação feita apenas para avaliação de disciplica Desenvolvimento mobile do curso de Ciência da Computação da faculdade
    Unisuam.
  </p>
</footer>
