@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

.hero {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.74) 100%
    ),
    url("../assets/images/home-bg.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.header {
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid greenyellow;
  display: flex;
  flex-direction: row;
  height: 65px;
  justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

.header__title {
  box-sizing: border-box;
  color: #fff;
  font-family: "Lobster", serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
@media (min-width: 720px) {
  .header__title {
    font-size: 2.5rem;
  }
}

.see-more {
  align-items: center;
  display: flex;
  /*flex-direction: column;
  justify-content: center;*/
}

.see-more a {
  box-sizing: border-box;
  color: orangered;
  margin: 20px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  align-items: center;
  background: #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 30vh;
  padding: 1.3rem 5%;
  width: 100%;
  text-align: center;
}

.footer__list {
  box-sizing: border-box;
  margin: 0 auto 3.5rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer_item {
  margin-bottom: 12px;
}

.footer__item a {
  text-decoration: none;
  color: greenyellow;
}

.footer__text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  width: 50%;
}
