/* You can add global styles to this file, and also import other style files */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
